
body {
    color:#40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

p{
    line-height: 2;
}

hr{
    border-style: dotted none none;
    border-color: #949494;
    border-width: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 5%;
}

.intro{
    width: 50%;
    margin: auto;
}


h1 {
    font-size: 90px;
    margin: 50px auto 0 auto;
    font-family: 'Dancing Script', cursive;
    color:  #66BFBF;
}

h2{
    color:  #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;

}
.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 200px;
}

.middle-container{
    background-color: rgb(255, 255, 255);
    margin-bottom: 60px;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0px 20px;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

a{
    color: #11999E;
    margin: 10px 30px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.profile-img{
    width: 20%;
    margin-top: 20px;
}

.coding-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.hiking-image{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.pro{
    width: 40%;
    margin: 40px auto 60px;
}

.contact-me{
    text-align: center;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family:'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 19px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
